<div class="landing-styles">
    <app-navbar #nav></app-navbar>
    <header class="masthead-sub" id="top"></header>
    <div class="container">
        <h2 class="section-heading">Členovia Výkonného výboru ObSTZ Trnava</h2>
    <section id="executive-board-members">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/1142192548/vector/man-avatar-profile-male-face-silhouette-or-icon-isolated-on-white-background-vector.jpg?s=612x612&w=0&k=20&c=DUKuRxK9OINHXt3_4m-GxraeoDDlhNuCbA9hp6FotFE=" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Predseda:  Jozef Turoň</h5>
                      <p class="card-text"><i class="fas fa-phone"></i><a href="tel:">telefonne cislo</a><br><i class="fas fa-envelope"></i><a href="mailto:jozef.turon@outlook.com">jozef.turon@outlook.com</a></p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a>>-->
                    </div>
                  </div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="mb-3"></div>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/1142192548/vector/man-avatar-profile-male-face-silhouette-or-icon-isolated-on-white-background-vector.jpg?s=612x612&w=0&k=20&c=DUKuRxK9OINHXt3_4m-GxraeoDDlhNuCbA9hp6FotFE=" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sekretár:  Mgr. Radovan Hulík</h5>
                      <p class="card-text"><i class="fas fa-phone"></i><a href="tel:">telefonne cislo</a><br><i class="fas fa-envelope"></i><a href="mailto:sekretarobstztt@gmail.com">sekretarobstztt@gmail.com</a></p>
                      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/1142192548/vector/man-avatar-profile-male-face-silhouette-or-icon-isolated-on-white-background-vector.jpg?s=612x612&w=0&k=20&c=DUKuRxK9OINHXt3_4m-GxraeoDDlhNuCbA9hp6FotFE=" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Člen: Vladimír Tibenský</h5>
                      <p class="card-text"><i class="fas fa-phone"></i><a href="tel:">telefonne cislo</a><br><i class="fas fa-envelope"></i><a href="mailto:sekretarobstztt@gmail.com">sekretarobstztt@gmail.com</a></p>
                      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/1142192548/vector/man-avatar-profile-male-face-silhouette-or-icon-isolated-on-white-background-vector.jpg?s=612x612&w=0&k=20&c=DUKuRxK9OINHXt3_4m-GxraeoDDlhNuCbA9hp6FotFE=" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Člen: Mgr. Radomír Pikna</h5>
                      <p class="card-text"><i class="fas fa-phone"></i><a href="tel:">telefonne cislo</a><br><i class="fas fa-envelope"></i><a href="mailto:sekretarobstztt@gmail.com">sekretarobstztt@gmail.com</a></p>
                      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                  </div>
            </div>
        </div>
        </section>
    </div>
    
</div>